.userRegisterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.userRegisterContainer form {
  width: 100%;
}

.formContainer form label {
  color: var(--gray--300);
  line-height: 1.6;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  box-shadow: 0 0 6px 1px var(--roxo--100);
}

.inputsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid var(--roxo--100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.input span {
  color: var(--gray--800);
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input a {
  color: var(--roxo--50);
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputEye {
  display: none;
}

.inputsBox input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  background: transparent;
  border: none;
  font-size: 1.125rem;
  color: var(--gray--300);
}

.inputsBox input:focus {
  outline: transparent;
  border: none;
}



.termosPrivacidade {
  color: var(--gray--300);
  line-height: 1.6;
}
.termosPrivacidade a {
  text-decoration: none;
  padding: 5px;
  color: var(--roxo--50);
}

.termosPrivacidade a:hover {
  color: var(--roxo--100);
}

.btnForm {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--roxo--100);
  color: var(--white);
  transition: all 200ms;
}

.btnForm:hover {
  background: var(--roxo--200);
}

@media (min-width: 900px) {
  .formContainer {
    width: 45%;
    margin: auto;
  }
}

@media (max-width: 899px) {
  .formContainer {
    box-shadow: none;
  }
}
