.mainUserPage {
  width: 100%;
  height: calc(100vh - 10rem);
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

@media(min-width: 769px) {
  .mainUserPage {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}